@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500';

/*--------------------------------------*/
/*   Base Values                        */
/*--------------------------------------*/

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5em;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  margin: 0;
}

/*--------------------------------------*/
/*   Fonts                              */
/*--------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.8px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 1.5rem;
  line-height: initial;
}

h1 > span, h2 > span,
h3 > span, h4 > span,
h5 > span, h6 > span {
  font-size: 55%;
  font-style: italic;
  font-weight: 100;
  display:  block;
  color: #888;
}

h1 {
  font-size: 4.6rem;
}

h2 {
  font-size: 4.0rem;
}

h3 {
  font-size: 3.4rem;
}

h4 {
  font-size: 2.8rem;
}

h5 {
  font-size: 2.2rem;
}

h6 {
  font-size: 1.6rem;
}

/*--------------------------------------*/
/*   Grid Sizing (mobile)               */
/*--------------------------------------*/

.sim-cont {
  width: 95%;
  margin: 0 auto;
  padding: 10px 0;
}

.sim-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0;
}

.sim-col {
  padding: 10px 1%;
  margin: 3px 1%;
}

.sim-sm-1 { width: 96%; }

.sim-sm-1-2 { width: 46%; }

.sim-sm-1-3 { width: 29.33%;}
.sim-sm-2-3 { width: 62.67%;}

.sim-sm-1-4 { width: 21%; }
.sim-sm-3-4 { width: 71%; }

.sim-sm-1-5 { width: 16%; }
.sim-sm-2-5 { width: 36%; }
.sim-sm-3-5 { width: 56%; }
.sim-sm-4-5 { width: 76%; }

.sim-sm-1-6 { width: 12.66% }
.sim-sm-5-6 { width: 79.33% }

.sim-sm-1-8 { width: 8.5%; }
.sim-sm-3-8 { width: 33.5%; }
.sim-sm-5-8 { width: 58.5%; }
.sim-sm-7-8 { width: 83.5%; }

.sim-sm-1-12 { width: 4.33%; }
.sim-sm-5-12 { width: 37.67%; }
.sim-sm-7-12 { width: 54.33%; }
.sim-sm-11-12 { width: 87.67%; }

/*--------------------------------------*/
/*   Grid Sizing (tablet)               */
/*--------------------------------------*/

@media screen and (min-width: 750px) {  
  .sim-cont { width: 730px; }

  .sim-md-1 { width: 96%; }
  
  .sim-md-1-2 { width: 46%; }

  .sim-md-1-3 { width: 29.33%;}
  .sim-md-2-3 { width: 62.67%;}

  .sim-md-1-4 { width: 21%; }
  .sim-md-3-4 { width: 71%; }

  .sim-md-1-5 { width: 16%; }
  .sim-md-2-5 { width: 36%; }
  .sim-md-3-5 { width: 56%; }
  .sim-md-4-5 { width: 76%; }

  .sim-md-1-6 { width: 12.66% }
  .sim-md-5-6 { width: 79.33% }

  .sim-md-1-8 { width: 8.5%; }
  .sim-md-3-8 { width: 33.5%; }
  .sim-md-5-8 { width: 58.5%; }
  .sim-md-7-8 { width: 83.5%; }
  
  .sim-md-1-12 { width: 4.33%; }
  .sim-md-5-12 { width: 37.67%; }
  .sim-md-7-12 { width: 54.33%; }
  .sim-md-11-12 { width: 87.67%; }
}

/*--------------------------------------*/
/*   Grid Sizing (desktop)              */
/*--------------------------------------*/

@media screen and (min-width: 1200px) {
  .sim-cont { width: 1180px; }
  
  .sim-lg-1 { width: 96%; }

  .sim-lg-1-2 { width: 46%; }

  .sim-lg-1-3 { width: 29.33%;}
  .sim-lg-2-3 { width: 62.67%;}

  .sim-lg-1-4 { width: 21%; }
  .sim-lg-3-4 { width: 71%; }

  .sim-lg-1-5 { width: 16%; }
  .sim-lg-2-5 { width: 36%; }
  .sim-lg-3-5 { width: 56%; }
  .sim-lg-4-5 { width: 76%; }

  .sim-lg-1-6 { width: 12.66% }
  .sim-lg-5-6 { width: 79.33% }

  .sim-lg-1-8 { width: 8.5%; }
  .sim-lg-3-8 { width: 33.5%; }
  .sim-lg-5-8 { width: 58.5%; }
  .sim-lg-7-8 { width: 83.5%; }
  
  .sim-lg-1-12 { width: 4.33%; }
  .sim-lg-5-12 { width: 37.67%; }
  .sim-lg-7-12 { width: 54.33%; }
  .sim-lg-11-12 { width: 87.67%; }
}